# Data (Never upload raw patent data dumps to GitHub!)
data/
*.csv
*.json
*.parquet

# Outputs
outputs/

# Mac / Dropbox specific
.DS_Store
.dropbox
.dropbox.cache

# Python cache
__pycache__/
*.pyc
.ipynb_checkpoints/
